<footer class="">

    <section class=" footer-section ">

        <div class="section section-1">
            <div class="container-image">
                <a [routerLink]="['/dashboard']" >
                    <img src="../../../assets/icons/logo-2.jpg" alt="LOGO">
                </a>
            </div>
            
            <p class="">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ipsa tempora, cumque odit
                aspernatur corporis similique consequatur error ea incidunt distinctio doloremque, voluptatum
                quod enim esse quia vel. Laudantium, rem.
            </p>
        </div>


        <div class="section section-2">
            <h4>Sitemap</h4>
            <div class="container-links">
                <a [routerLink]="['/dashboard']" type="button">Dasboard</a>
                <a [routerLink]="['/user/profile']" type="button">Perfil</a>
                <a href="/#/contact">Contacto</a>
                <a href="/#/terms" target="_blank">Términos y condiciones</a>
            </div>
        </div>


        <div class="section section-3">
            <h4>Contacto</h4>
            <div class="container-links">

                <span>Correo:
                    <a href="mailto:info@youremail.com" target="_blank">info@youremail.com</a>
                </span>
                <span>Teléfono: 8254000</span>

            </div>
        </div>


        <div class="section section-4">
            <h4>Síguenos</h4>

            <div class="social-media-icons">
                <a class="facebook" href="https://www.facebook.com/" target="_blank">
                    <img src="../../../assets/icons/facebook.png" alt="">
                </a>
                <a class="instagram" href="https://www.instagram.com" target="_blank">
                    <img src="../../../assets/icons/instagram.png" alt="">
                </a>
                <a class="tiktok" href="https://www.twitter.com" target="_blank">
                    <img src="../../../assets/icons/twitter.png" alt="">
                </a>
            </div>
        </div>


    </section>

</footer>