footer {
  background-color: var(--blue_primary);
  color: #fff;
  // position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-inline: 3rem;
}

.section {
  padding: 1rem;
}
span {
  font-size: 14px;
}
.section-1 {
  p {
  text-align: justify;
  font-size: 14px;
  } 
  img {
    width: 80px;
    border-radius: 50%;
  }
}
.container-image {
  text-align: center;
}

.container-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

nav a:hover {
  color: #c4c4c4;
}

.social-media-icons {
  display: flex;
  gap: 1rem;

  a img {
    width: 40px;
    max-width: 40px;
  }
}




@media screen and (max-width: 767px){
  .footer-section {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    margin-inline: 2rem;
  }
}